[submodule "webui"]
	path = webui
	url = https://github.com/wasabee-project/Wasabee-Frontend/
	branch = dist
[submodule "iitcplugin/latest"]
	path = iitcplugin/latest
	url = gh:wasabee-project/Wasabee-IITC
