[submodule "webui"]
	path = webui
	url = https://github.com/wasabee-project/Wasabee-Frontend/
	branch = dist
[submodule "iitcplugin/latest"]
	path = iitcplugin/latest
	url = https://github.com/wasabee-project/Wasabee-IITC
	branch = dist
[submodule "beta"]
	path = beta
	url = https://github.com/wasabee-project/Wasabee-WebUI
